version: '3.0'
services:
  rasa:
     image: danyuanwang/xuanwugame:assistant
     ports:
       - 5005:5005
     command:
       - run
     depends_on:
       - duckling
       - action
  action:
     image: danyuanwang/xuanwugame:action
     expose: 
       - "5055"
  duckling:
     image: rasa/duckling
     expose: 
       - "5008"

